/* ================================ 首页 ================================*/
.banner_wrap {
    width: 100%;
    height: 1010px;
    position: relative;
}

.banner_wrap img {
    width: 100%;
    height: 100%;
}

.banner_wrap .banner_in {
    position: absolute;
    height: calc(100% - 480px);
    left: 0;
    right: 0;
    top: 480px;
    bottom: 0;
    margin: auto;
    z-index: 99;
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.banner_wrap .banner_in .view {
    width: 780px;
    height: 366px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px 0px rgba(243, 72, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px
}

.banner_wrap .banner_in .view h3 {
    font-size: 28px;
    color: #333333;
    line-height: 37px;
    letter-spacing: 3px;
    margin-bottom: 34px;
    text-align: center;
}

.banner_wrap .banner_in .view .service {
    height: 80px;
    background: #D80E19;
    border-radius: 10px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.banner_wrap .banner_in .view .service span {
    display: flex;
    align-items: center;
    height: 100%;
}

.banner_wrap .banner_in .view .service span i {
    font-size: 36px;
    margin-right: 15px;
}

.banner_wrap .banner_in .view .find .form-control {
    height: 80px;
    background: #F8F8F8;
    font-size: 24px;
    border-radius: 10px 0px 0px 10px;
}

.banner_wrap .banner_in .view .find input::-webkit-input-placeholder {
    color: #C3C3C3;
}

.banner_wrap .banner_in .view .find .input-group-text {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 28px;
    font-weight: 400;
    color: #FFFFFF;
    background: #D80E19;
    border-radius: 0px 10px 10px 0px;
}

.banner_wrap .banner_in .view .find .input-group-text i {
    font-size: 34px;
    margin-right: 12px;
}

.banner_wrap .banner_in .view p {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    line-height: 22px;
    margin-top: 5px;
}

.banner_wrap .banner_in .send {
    width: 357px;
    height: 254px;
    margin-top: 50px;
}

/* ================================ 详情 ================================*/
.detail_wrap {
    padding-top: 38px;
    padding-bottom: 50px;
    background-color: #F3F5F8;
}

.detail_wrap h4,
.detail_wrap h4,
.detail_wrap h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    line-height: 28px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.detail_wrap h4 span,
.detail_wrap h4 span,
.detail_wrap h4 span {
    font-size: 20px;
    font-weight: bold;
    color: #FF2121;
    line-height: 28px;
    margin-left: 9px;
    margin-bottom: -8px;
}

.detail_wrap .top,
.detail_wrap .center,
.detail_wrap .bottom {
    margin-top: 38px;
}

.detail_wrap .top .top_box,
.detail_wrap .center .center_box,
.detail_wrap .bottom .bottom_box {
    background: #FFFFFF;
    border-radius: 6px;
}

.detail_wrap .top .top_box {
    display: flex;
    padding: 31px 0;
}

.detail_wrap .top .top_box>div {
    flex: 1;
    box-sizing: border-box;
    padding: 0 24px;
}

.detail_wrap .top .top_box>div:first-child {
    border-right: 2px solid #F4F4F4;
}

.detail_wrap .top .top_box>div>.title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 50px;
}

.detail_wrap .top .top_box>div>.title p {
    display: flex;
    align-items: center;
}

.detail_wrap .top .top_box>div>.title p em {
    color: #6F6F6F;
}

.detail_wrap .top .top_box>div>.title p span {
    font-weight: bold;
    color: #FF2121;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: -8px
}

.detail_wrap .top .top_box>div>.title div a {
    font-size: 14px;
    color: #0177E3;
    line-height: 19px;
    margin-left: 24px;
}

.detail_wrap .top .top_box>div>.title div a i {
    font-weight: bolder;
}