@font-face {
  font-family: "iconfont"; /* Project id 3483789 */
  src: url('iconfont.woff2?t=1658137182367') format('woff2'),
       url('iconfont.woff?t=1658137182367') format('woff'),
       url('iconfont.ttf?t=1658137182367') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e61c";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-aixin:before {
  content: "\e626";
}

.icon-ren:before {
  content: "\e622";
}

.icon-gongsiguanli:before {
  content: "\e60a";
}

.icon-niantie:before {
  content: "\e631";
}

.icon-fayundizhishenqingliucheng-01:before {
  content: "\e998";
}

.icon-kuaidiwuliu:before {
  content: "\e61d";
}

.icon-cancel-1-copy:before {
  content: "\e61a";
}

.icon-yanjing:before {
  content: "\e62b";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-31sousuo:before {
  content: "\e600";
}

.icon--xiangxiajiantou:before {
  content: "\e736";
}

