/* banner图 */
.banner_wrap {
    width: 100%;
    height: 652px;
}

.banner_wrap img {
    width: 100%;
    height: 100%;
}

/* 轮播图 */
.wrapper .carousel button {
    border: 2px solid #C1C1C1;
    width: 53px;
    height: 53px;
}

.wrapper .carousel button i {
    color: #C1C1C1;
    font-weight: 900;
}

.wrapper .carousel button:hover {
    border-color: #D80E19;
}

.wrapper .carousel button:hover i {
    color: #D80E19;
}

.wrapper .carousel-control-prev,
.wrapper .carousel-control-next {
    top: 50%;
    margin-top: -26px;
}

.wrapper .carousel-control-prev {
    left: -67px
}

.wrapper .carousel-control-next {
    right: -67px
}

/* ================================ 首页 ================================*/
.session1,
.session2,
.session3,
.session4 {
    width: 100%;
    height: 738px;
    text-align: center;
    box-sizing: border-box;
    padding: 80px 0 0;
}

.session1 h2,
.session2 h2,
.session3 h2,
.session4 h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    line-height: 47px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.session1 .sub_title,
.session2 .sub_title,
.session3 .sub_title,
.session4 .sub_title {
    color: #D80E19;
    font-size: 20px;
    position: relative;
}

.session1 .sub_title span,
.session2 .sub_title span,
.session3 .sub_title span,
.session4 .sub_title span {
    padding: 0 20px;
    border: solid #D80E19;
    border-top: 1px;
    border-bottom: 1px;
}

.session1 .sub_title a,
.session4 .sub_title a {
    position: absolute;
    right: 0;
    top: 0;
}

/* 入驻机构 */
.session1 {
    padding-bottom: 105px;
}

.session1 .banner_box {
    height: 365px;
    width: 100%;
    margin-top: 100px;
}

.session1 .banner_box .carousel .box {
    padding: 0 89px;
    width: 100%;
    height: 365px;
    display: flex;

}

.session1 .banner_box .carousel .box_left {
    margin-right: 68px;
    width: 325px;
    height: 365px;
    position: relative;
}

.session1 .banner_box .carousel .box_left>div {
    width: 268px;
    height: 292px;
    background-color: #D80E19;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.session1 .banner_box .carousel .box_left>img {
    width: 314px;
    height: 342px;
    position: absolute;
    left: 21px;
    top: 23px;
    z-index: 20;
}

.session1 .banner_box .carousel .box_right {
    flex: 1;
    padding-top: 15px;
}

.session1 .banner_box .carousel .box_right {
    flex: 1;
    padding-top: 15px;
    text-align: left;
}

.session1 .banner_box .carousel .box_right h3 {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    line-height: 42px;
    margin-bottom: 67px;
}

.session1 .banner_box .carousel .box_right>div {
    width: 100px;
    height: 2px;
    background: #D80E19;
    margin-bottom: 19px;
}

.session1 .banner_box .carousel .box_right p {
    font-size: 21px;
    color: #999999;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.session1 .banner_box .carousel .box_right a {
    width: 168px;
    height: 52px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    background: #D80E19;
    border-radius: 4px;
    border: 1px solid #D80E19;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}


/* 数字营销服务 */
.session2 {
    padding-bottom: 77px;
    background-color: #F4F4F4;
}

.session2 .desc {
    font-size: 14px;
    color: #AB6B6B;
    line-height: 21px;
    width: 680px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 53px;
}

.session2 .list {
    width: 100%;
}

.session2 .list li {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 3px 1px rgba(224, 231, 237, 0.54);
    border-radius: 4px;
    border: 1px solid rgba(196, 205, 215, 0.37);
    height: 350px;
    padding: 24px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #FFFFFF;
}

.session2 .list li:nth-of-type(4n) {
    margin-right: 0;
}

.session2 .list li>div {
    height: 120px;
    border-bottom: 1px dotted #979797;
    margin-bottom: 16px;
}

.session2 .list li>div img {
    width: 100%;
    height: 100%;
    padding-bottom: 14px;
}

.session2 .list li h4 {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 12px;
    text-align: left;
}

.session2 .list li p {
    font-size: 14px;
    line-height: 19px;
    color: #999999;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    word-break: break-all;
    margin-bottom: 18px;
}

.session2 .list li a {
    width: 168px;
    height: 52px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    background: #D80E19;
    border-radius: 4px;
    border: 1px solid #D80E19;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

/* 合作伙伴 */
.session3 {
    padding-bottom: 77px;
    padding-top: 0;
}

.session3 h2 {
    color: #FFFFFF;
}

.session3 .sub_title span {
    color: #F68187;
    border-color: #F68187;
}

.session3 .session3_top {
    height: 519px;
    background: #D80E19;
    border: 1px solid #979797;
    padding-top: 80px;
}

.session3 .session3_top .parter {
    display: flex;
    margin-top: 81px;
    text-align: left;
}

.session3 .session3_top .parter_left {
    width: 375px;
    margin-right: 65px;
    position: relative;
}

.session3 .session3_top .parter_left img {
    width: 100%;
    height: 409px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 5px 11px 11px 1px rgba(71, 59, 60, 0.1);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.session3 .session3_top .parter_right {
    flex: 1
}

.session3 .session3_top .parter_right h3 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 31px;
    margin-bottom: 17px;
    margin-top: 12px;
}

.session3 .session3_top .parter_right h3 i {
    width: 0;
    height: 0;
    border: 6px solid;
    display: inline-block;
    border-color: transparent transparent transparent #FFF;
}

.session3 .session3_top .parter_right h3 i:last-of-type {
    margin-right: 8px;
    margin-left: -6px;
}

.session3 .session3_top .parter_right p {
    font-size: 18px;
    color: #FFB1B1;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all;
    margin-bottom: 30px;
}

.session3 .session3_top .parter_right a {
    width: 168px;
    height: 52px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    border-radius: 4px;
    border: 1px solid #FFF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

.session3 .session3_bottom {
    height: 205px;
}

.session3 .session3_bottom .img_list ul {
    float: right;
    margin-top: 24px;
}

.session3 .session3_bottom .img_list ul li {
    float: left;
    width: 117px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    text-align: center;
    margin-right: 24px;
    position: relative;
}

.session3 .session3_bottom .img_list ul li span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 4px;
    background: rgba(7, 7, 7, 0.52);
}

.session3 .session3_bottom .img_list ul li img {
    width: 100%;
    height: 100%;
}

.session3 .session3_bottom .img_list ul li:last-child {
    margin-right: 0;
    width: 96px;
    box-sizing: border-box;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 26px;
    background: #F0EFEF;
    color: #3C3939;
}

/* 营销专区 */
.session4 {
    height: 627px;
}

.session4 .video_box {
    margin-top: 58px;
}

.session4 .video_box .video_item {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 45px;
}

.session4 .video_box .video_item:nth-child(3n) {
    margin-right: 0;
}

.session4 .video_box .video_item img {
    width: 100%;
    height: 246px;
    box-shadow: 5px 11px 11px 1px rgba(71, 59, 60, 0.1);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.session4 .video_box .video_item>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.session4 .video_box .video_item>div h5 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    line-height: 26px;
}

.session4 .video_box .video_item>div span {
    font-size: 16px;
    color: #666666;
    line-height: 21px;
}

.session4 .video_box .video_item>div i {
    font-size: 18px;
    margin-right: 7px;
}

.session4 .carousel-control-prev,
.session4 .carousel-control-next {
    top: 50%;
    margin-top: -70px;
}

/* ================================ 搜索框 ================================*/
.session_in {
    position: relative;
    padding: 95px 0 70px;
    background: #F9F9F9;
}

.session_in .sub_nav {
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 0px rgba(57, 35, 35, 0.28);
    border-radius: 14px;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -308px;
}

.session_in .sub_nav ul {
    float: left;
    padding: 0 25px;
}

.session_in .sub_nav ul li {
    float: left;
}

.session_in .sub_nav ul li a {
    height: 82px;
    padding: 4px 20px;
    line-height: 82px;
    display: inline-block;
    text-align: center;
    color: #0D0D0D;
    font-weight: 400;
    font-size: 22px;
}

.session_in .sub_nav ul li .current_nav {
    color: #D80E19;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 4px solid #D80E19;
    border-bottom: 4px solid #D80E19;
}

.session_in .sub_nav span {
    float: left;
    width: 108px;
    height: 90px;
    background: #D80E19;
    border-radius: 0px 14px 14px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.session_in .sub_nav span i {
    color: #FFF;
    font-size: 40px;
}

.session_in .search {
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -600px;
    display: none;
}

.session_in .search .input-group {
    box-shadow: 0px 3px 11px 0px rgba(57, 35, 35, 0.28);
    border-radius: 14px;
    height: 90px;
    width: 1200px;
}

.session_in .search .input-group-text {
    border-radius: 0;
    cursor: pointer;
}

.session_in .search .input-group-prepend .input-group-text {
    background: #FFF;
    padding: 0 28px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.session_in .search .input-group-prepend .input-group-text i {
    font-size: 30px;
    color: #0D0D0D;
}

.session_in .search .input-group-append .input-group-text {
    background: #D80E19;
    padding: 0 28px;
    font-size: 22px;
    color: #FFF;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.session_in .search .form-control {
    height: 76px;
    font-size: 22px;
}

/* ================================ 入驻机构、合作伙伴 ================================*/
.session_in .list_box .list_item {
    width: 100%;
    height: 296px;
    background: #FFFFFF;
    box-shadow: 0px 6px 11px 4px rgba(127, 90, 90, 0.14);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    padding: 30px 100px 30px 80px;
    margin-bottom: 35px;
}

.session_in .list_box a:last-child .list_item {
    margin-bottom: 60px;
}

.session_in .list_box .list_item .item_left {
    flex: 1
}

.session_in .list_box .list_item .item_left h2 {
    margin-top: 34px;
    margin-bottom: 16px;
    font-size: 30px;
    color: #333333;
    line-height: 40px;
}

.session_in .list_box .list_item .item_left p {
    font-size: 18px;
    color: #999999;
    line-height: 24px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    word-break: break-all;
}

.session_in .list_box .list_item .item_right {
    margin-left: 105px;
    width: 281px;
    height: 236px;
}

.session_in .list_box .list_item .item_right img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/* ================================ 营销专区 ================================*/
.page3 .session4 {
    height: auto;
    padding-top: 0;
}

.page3 .session4 .video_box {
    margin-top: 0
}

/* ================================ 营销专区-弹窗 ================================*/
.modal_btn {
    bottom: 10vh;
    left: 90vw;
    position: fixed;
    display: inline-block;
}

.modal_btn button {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.15);
    background: #D80E19;
    color: #FFF;
}

.modal_btn button:hover {
    color: #FFF;
}

.modal_wrap .modal-body .service_box {
    background: #F7F7F7;
    padding: 1rem 2.5rem;
    color: #999999;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
}

.modal_wrap .modal-body .service_box>div {
    padding: 1rem 0.4rem;
}

.modal_wrap .modal-body .service_box>div .form-check {
    margin-bottom: 11px;
    margin-right: 60px;
}

.modal_wrap .modal-body .service_box>div .form-check-input {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    margin-top: 2px;
}

.modal_wrap .modal-body .service_box>div .active-check-label {
    color: #333333;
}

.modal_wrap .modal-body-form .col-form-label {
    font-weight: bold;
}

/* ================================ 详情 ================================*/
.detail_warp {
    padding-top: 38px;
    padding-bottom: 50px;
}

.detail_warp .detail_box {
    display: flex;
}

.detail_warp .detail_box .left {
    width: 502px;
    height: 422px;
    margin-right: 22px;
}

.detail_warp .detail_box .right {
    flex: 1;
}

.detail_warp .detail_box .right h2 {
    font-size: 24px;
    color: #333333;
    line-height: 31px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.detail_warp .detail_box .right .right_type {
    margin-bottom: 17px;
}

.detail_warp .detail_box .right .right_type a {
    float: left;
    width: 72px;
    height: 30px;
    background: rgba(216, 216, 216, 0.49);
    border-radius: 16px;
    color: #666666;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin-right: 15px;
}

.detail_warp .detail_box .right p {
    font-size: 20px;
    color: #999999;
    line-height: 31px;
    text-align: justify;
    margin-bottom: 50px;
}

.detail_warp .detail_box .right .right_info li {
    display: block;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 15px;
}

.detail_warp .detail_box .right .right_info li span {
    font-weight: bold;
    display: inline-block;
    width: 136px;
}